body {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column; 
  /* justify-content: center; */
  align-items: center;
  height: 100vh; /* optional: centers everything on screen */
}


.tools{
    background-color: aqua;
    margin-right: 50rem;
}